.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 30px;
  border: none;  /* Remove border for a cleaner look */
  border-radius: 15px;
  background: linear-gradient(to bottom, #334d50, #ff6b6b);  /* Gradient background for festivity */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  color: #fff;  /* Light text on dark background for contrast */
}

.login-container img {
  width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 15px;
  object-fit: cover;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.login-title {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  color: #FFD700;
  text-align: center;
  margin-bottom: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #e0e0e0;
}

.login-container input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #FFD700;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}

.login-container input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.password-input {
  position: relative;
}

.password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #FFD700;
}

.login-button {
  padding: 15px;
  background-color: #FF4500;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s, transform 0.1s;
}

.login-button:hover {
  background-color: #e63946;
  transform: translateY(-2px);
}

.error-message {
  color: #ff6b6b;
  font-size: 0.9em;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.holiday-heading {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  color: #FFD700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 100%;
  animation: bounce 1s infinite alternate;
}

@keyframes bounce {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0); }
}

/* Additional for Font Awesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');
